<app-league-navber [navbarInfo]="navbarInfo"></app-league-navber>

<table>
  <tr>
    <th>Pozycja</th>
    <th>Zawodnik</th>
    <th>Gole</th>
  </tr>
  <tr *ngFor="let scorer of topScorers; let i = index;">
    <th><p>{{i+1}}</p></th>
    <th><p>{{scorer.fullname}}</p></th>
    <th><p>{{scorer.goals}}</p></th>
  </tr>
</table>
