table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0px;
}

table tr:first-child {
  background-color: #3C7026 !important;
  color: white;
}

table tr:nth-child(even) {
  background-color: #EAEAEA;
}

table tr:nth-child(odd) {
  background-color: white;
}

table tr th p{
  margin: 5px 0;
  border-right: solid 1px #D6D6D6;
  text-align: center;
  font-weight: bold;
}

table tr th:nth-child(2) p{
  margin: 5px 0;
  border-right: solid 1px #D6D6D6;
  text-align: left;
  font-weight: lighter;
}

table tr th:last-child p{
  margin: 10px 0;
  border: none;
}

table tr th:nth-child(1) {
  text-align: center;
  width: 15%;
  font-weight: lighter;
}

table tr th:nth-child(2) {
  text-align: left;
  width: 70%;
  padding-left: 7.5%;
  font-weight: lighter;
}

table tr th:nth-child(3) {
  text-align: center;
  width: 15%;
  font-weight: lighter;
}
