<div class="navbar">
  <div>
    <img src="../../assets/{{navbarInfo.link}}">
  </div>
  <div class="navbar-description">
    <h2 class="navbar-title">{{navbarInfo.title}}</h2>
    <p>{{navbarInfo.details}}</p>
  </div>
</div>
