.navbar {
  display: flex;
  color: white;
}

img {
  height: 130px;
  width: 120px;
}

.navbar-title {
  display: inline;
  font-weight: bold;
  letter-spacing: 1px;

}

.navbar-description {
  flex: 1;
  margin: auto auto auto 2em;
}

