.content {
  margin:  0 20% 0 20%;
  flex: 1;
}

.footer {
  margin-top: 30px;
  background-color: #15191C;
  flex-shrink: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
