/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #2D3134;
  font-family: 'Roboto', sans-serif;
  margin: 0%;
}


